* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    grid-area: "main";
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.postheader {
    background: linear-gradient(to right, #00B4D8, #66D2E8, #00B4D8);
    text-align: center;
    color: #FAFAFA;
    height: 60px;
    width: 100%;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
}

.product img {
    width: 300px;
    border: solid 3px #0077B6;
    border-radius: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    margin-top: 50px;
}

.product p {
    text-align: center;
    font-size: 1.5rem;
    border: solid 3px #008000;
    border-radius: 10px;
    font: bold;
    width: 200px;
    margin-left: 16%;
}

.details {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin-top: 130px;
    width: 100%;
}

.detailsproduit {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    gap: 30px;
}

.details p,
ul,
li {
    margin-left: 10px;
    color: #0077B6;
    font-size: 1.05rem;
}

.details ul {
    margin-left: 15px;
}

.details h3 {
    font-family: 'Montserrat', sans-serif;
}

.addbouton {
    background-color: #0077B6;
    height: 70px;
    width: 400px;
    align-items: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 9999px;
    position: relative;
    margin-left: 25%;
    cursor: pointer;
    border: solid 3px black;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container {
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    #biglogo {
        width: 200px;
        height: 80px;
        margin-left: 105px;
    }
    /* details Du Produit version mobile */
    .detailsproduit {
        flex-wrap: wrap;
        margin: 0px;
    }

    .addbouton {
        margin: 0px;
        width: 150px;
        height: 50px;
        font-size: 1rem;
    }

    .details {
        margin: 0px;
    }

    .details p,
    ul,
    li {
        margin-left: 10px;
        color: #0077B6;
        font-size: 1.05rem;
    }

    .product {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        font-family: 'Montserrat', sans-serif;
        width: 390px;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
    }

    .product p {
        text-align: center;
        font-size: 1.5rem;
        border: solid 3px #008000;
        border-radius: 10px;
        font: bold;
        width: 200px;
        margin: 0px;
        margin-top: 20px;
    }
}