.footercontainer {
    display: flex;
    padding: 50px;
    background: #0077B6;
    justify-content: center;
    justify-items: center;
   
}

.footerleft #logoCoin{
    width: auto;
    height: auto;
}

.socialmedias{
    display: flex;
    padding: 20px;
    gap: 30px;
    margin-top: 90px;
}


.QuickLinks{
    display: flex;
    list-style: none;
    gap: 80px;
    color: #FFFFFF;
    justify-content: center;
    justify-items: center;
    margin-left: 200px;
}


.QuickLinks li{
    display: flex;
    padding: 10px;
   
}

.copyright{
    text-align: center;
    background: #0077B6;
    font-size: 1.3rem;
}

@media (max-width: 768px) {
    /* mobile footer */
    .footercontainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .QuickLinks {
        display: flex;
        flex-direction: column;
        margin-left: -30px;
    }

    .QuickLinks li {
        color: #FFFFFF;
        margin-top: 10px;
        font-size: 14px;
    }

    .socialmedias {
        margin-left: 85px;
        gap: 50px;
    }
}