/* footer for desktop */
footer {
    grid-area: "footer";
    background-color: #0077B6;
    width: 100%;
    min-height: 100%;
    margin-top: 50px;
}

.footercontainer {
    display: flex;
    width: 200px;
    height: 250px;
}

.footerleft {
    min-height: 100%;
    min-width: 100%;
}

#biglogo {
    width: 40vh;
    height: 15vh;
    margin-left: 30px;
    margin-top: 20px;
}

.QuickLinks {
    gap: 20px;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2%;
    color: #FFFFFF;
    margin-left: 30px;
    font-size: 13px;
    height: 200px;
    margin: 0px;
}

.QuickLinks div {
    width: 235px;
    height: 230px;
    margin-left: 130px;
    margin-top: 20px;
}

.QuickLinks ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 8px;
    color: #FFFFFF;
    /* margin-left: 50px; */
}

.QuickLinks li {
    margin-top: 10px;
    font-size: 13px;
    color: #FFFFFF;
}

#liensutiles {
    width: 140px;
}

.socialmedias {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    margin-left: -1200px;
    margin-top: 150px;
}

.socialmedias img {
    width: 40px;
    height: 40px;
}

@media (max-width: 768px) {
    /* mobile footer */
    .footercontainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .QuickLinks {
        display: flex;
        flex-direction: column;
        margin-left: -30px;
    }

    .QuickLinks li {
        color: #FFFFFF;
        margin-top: 10px;
        font-size: 14px;
    }

    .socialmedias {
        margin-top: 440px;
        margin-left: 85px;
        gap: 50px;
    }
}